{% extends "layout.twig" %}

{% block content %}
   <div class="col-md-7 ">
   		<div id="results" class="tab-pane fade active show">
            Results content
        </div>
    </div>
   <div class="col-md-5">
   		This is right side
   </div>
{% endblock %}